@model IEnumerable<MotivationMinders.Models.AspNetRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var roleItems = Roles.GetAllRoles().Select(role => new SelectListItem
    {
        Text = role
    });
}
/* Show controls to admins only */
@if(Roles.IsUserInRole("Admin"))
{
    <h2>Index</h2>
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        
        //Redirects to read, edit, and delete actions, for each role ID
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
        
               
            </tr>
        }
    </table>
}
//Dont show to regular users, if they somehow get here
<p></p>
<p>This is for admin eyes only! Please Return to the main site!</p>
