@model MotivationMinders.Models.BlogPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog Post</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Published
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePublished)
        </dd>

        <dt>
            Post Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postTitle)
        </dd>

        <dt>
            Blog Post
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.postID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
