@model IEnumerable<MotivationMinders.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p><hr />
@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.postTitle)</h3>
    <p>Date published: </p>@Html.DisplayFor(modelItem => item.datePublished)
    <hr />
    @Html.DisplayFor(modelItem => item.text)
    <hr />
    <a href='@Url.Action("Edit", new { id=item.postID })'>
        <button class="btn btn-sm btn-info">Edit</button>
    </a>
    <a href='@Url.Action("Details", new { id=item.postID })'>
        <button class="btn btn-sm btn-info">Details</button>
    </a>
    <a href='@Url.Action("Delete", new { id = item.postID })'>
        <button class="btn btn-sm btn-info">Delete</button>
    </a>
    <hr />
}