@model IEnumerable<MotivationMinders.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datePublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datePublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.postID }) |
            @Html.ActionLink("Details", "Details", new { id=item.postID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.postID })
        </td>
    </tr>
}

</table>
