@model MotivationMinders.SystemUser

{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SystemUser</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PasswordSalt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordSalt)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Role)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { }) |
    @Html.ActionLink("Back to List", "Index")
</p>