<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Motivation Minders</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Pink Button CSS -->
    <style>
        .btn-sample {
            color: #ffffff;
            background-color: #CA609A;
            border-color: #AB5082;
        }

            .btn-sample:hover,
            .btn-sample:focus,
            .btn-sample:active,
            .btn-sample.active,
            .open .dropdown-toggle.btn-sample {
                color: #ffffff;
                background-color: #C24489;
                border-color: #AB5082;
            }

            .btn-sample:active,
            .btn-sample.active,
            .open .dropdown-toggle.btn-sample {
                background-image: none;
            }

            .btn-sample.disabled,
            .btn-sample[disabled],
            fieldset[disabled] .btn-sample,
            .btn-sample.disabled:hover,
            .btn-sample[disabled]:hover,
            fieldset[disabled] .btn-sample:hover,
            .btn-sample.disabled:focus,
            .btn-sample[disabled]:focus,
            fieldset[disabled] .btn-sample:focus,
            .btn-sample.disabled:active,
            .btn-sample[disabled]:active,
            fieldset[disabled] .btn-sample:active,
            .btn-sample.disabled.active,
            .btn-sample[disabled].active,
            fieldset[disabled] .btn-sample.active {
                background-color: #CA609A;
                border-color: #AB5082;
            }

            .btn-sample .badge {
                color: #CA609A;
                background-color: #ffffff;
            }
    </style>

</head>
<body>
    <br />
    <br />
    <!-- Navigation -->
    <a href='@Url.Action("Index", "Home")'>
        <img src='@Url.Content("~/images/motivation_miners_biggerfont.jpg")' class="img-responsive" style="margin:auto; max-width:500px" />
    </a>
    <br />
    
    @*<img src="~/images/motivation_miners_biggerfont.jpg" class="img-responsive" style="margin:auto;"/></a>*@
    <nav class="navbar navbar-inverse navbar-top" role="navigation" style="max-width:1140px; margin: 0 auto; padding-right:5px">
        
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="#myModal" data-target="#myModal" data-toggle="modal">Log-in</a>
                    </li>

                    <li>
                        <a href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Products")">Products</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Useful Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- LOGIN / REGISTER FORM -->

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Register</a></li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in" id="why">
                        </div>
                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Name:</label>
                                        <div class="controls">
                                            <input required id="userid" name="userid" type="text" class="form-control input-medium" placeholder="Name">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordinput">Password:</label>
                                        <div class="controls">
                                            <input required id="passwordinput" name="passwordinput" class="form-control input-medium" type="password" placeholder="********">
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-sample" style="float: right;">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="Email">Email:</label>
                                        <div class="controls">
                                            <input id="Email" name="Email" class="form-control input-large" type="text" placeholder="Please enter your Email">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Name:</label>
                                        <div class="controls">
                                            <input id="userid" name="userid" class="form-control input-large" type="text" placeholder="Please enter your Name">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <div class="controls">
                                            <input id="password" name="password" class="form-control input-large" type="password" placeholder="********">
                                            <em>1-8 Characters</em>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                        <div class="controls">
                                            <input id="reenterpassword" class="form-control input-large" name="reenterpassword" type="password" placeholder="********">
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button id="confirmsignup" name="confirmsignup" class="btn btn-sample" style="float: right;">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END LOGIN REGISTER MODAL -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Motivation Minders 2015</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
