@model MotivationMinders.Models.UserModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login Failed, Check your login details.");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div>
                @Html.LabelFor(u => u.Email)
            </div>
            <div>
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            <div>
                @Html.LabelFor(u => u.Password)
            </div>
            <div>
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <input type="submit" value="Log In" />

            <p><a href="~/User/ForgotPassword">Recover</a> your forgotten password.</p>
            <p><a href="~/User/Register">Register</a> to create a new account.</p>
        </fieldset>
    </div>
}